$font_size: 12px;
@mixin font($size: $font_size, $bold: 400) {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: $size;
  font-weight: $bold;
}

@media only screen and (max-width: 600px) {
  .roomselective {
    .roomtype {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (min-width: 600px) {
  .roomselective {
    .roomtype {
      display: flex;
      flex-direction: column;
    }
  }
}
@media only screen and (min-width: 768px) {
  .roomselective {
    .roomtype {
      display: flex;
      flex-direction: row;
    }
  }
}

.roomselective {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .title {
    display: flex;
    width: 100%;
    margin-top: 24px;
    @include font(18px, 500);
  }
  .bar {
    display: flex;
    height: 2px;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 24px;
  }
  .roomtype {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 24px;
    .room {
      display: flex;
      padding: 6px;
      width: 100%;
      .roomImg {
        margin-top: 8px;
        max-width: 100%;
        max-height: 100%;
      }
      input[type="radio"]:checked + label {
        border-color: #4c4;
      }
    }
    .roomRadio {
      display: none;
    }
    .roomLabel {
      width: 100%;
      height: 100%;
      border-style: solid;
      border-radius: 8px;
      border-width: 1px;
      border-color: #d9d9d9;
      :not(:last-child) {
        margin-right: 6px;
      }
      .innerDetails {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 24px;
        padding-left: 36px;
        padding-right: 36px;
        width: 100%;
        height: 100%;
        &__title {
          margin-top: 12px;
          width: 100%;
          @include font(16px, 500);
        }
        .innerDetails__desc {
          margin-top: 12px;
          display: flex;
          .details {
            width: 100%;
          }
          .price {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            @include font(18px, 500);
          }
        }
      }
    }
  }
}
