@media only screen and (max-width: 600px) {
  .container {
    &__content {
      display: flex;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 0px;
      padding-right: 0px;
      .wrapper {
        .paymentWrapper {
          flex-direction: column;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  //wrapper > selective > &__options > entry > select > faicon
  .container {
    &__content {
      display: flex;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 32px;
      padding-right: 32px;
      .wrapper {
        .paymentWrapper {
          flex-direction: column;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    &__content {
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      padding-left: 64px;
      padding-right: 64px;
      .wrapper {
        .paymentWrapper {
          flex-direction: row;
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 132px;
    width: 100%;
    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;
      white-space: normal;
      margin-bottom: 64px;
      .paymentWrapper {
        display: flex;
        width: 100%;
        margin-top: 24px;
        padding-bottom: 132px;
      }
      .selectiveWrapper {
        display: flex;
        flex-direction: column;
      }
    }
    .wrapper::-webkit-scrollbar {
      display: none;
    }
  }
}
