$font_size: 12px;
@mixin font($size: $font_size, $bold: 400) {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: $size;
  font-weight: $bold;
}

.reservationWrapper {
  display: flex;
  padding: 12px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 12px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  .success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .faicon {
      font-size: 64px;
      color: green;
    }
    .title {
      margin-top: 24px;
      @include font(21px);
    }
    .desc {
      display: flex;
      @include font(16px);
      margin-top: 24px;
      text-align: center;
      width: 58%;
    }
    .buttons {
      display: flex;
      margin-top: 24px;
      .button {
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #063662;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        @include font(14px);
        &:nth-child(2) {
          margin-right: 6px;
          margin-left: 6px;
        }
      }
    }
  }
}
